.menu {
    position: relative;
    height: 86px;
    width: 100%;
    background: #131316;
    border-radius: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    margin-bottom: 70px;
    gap: 10px;
}
.menu__left {
    display: flex;
    gap: 40px;
}

.menu__right-profile_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 2px solid #2F64C2;
    border-radius: 15px;
}

.menu__right-yes_auth {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu__right-profile_arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.transform-real {
    transform: rotate(-180deg);
}

/*.menu__right-profile_arrow {*/
/*    transition: transform .3s ease;*/
/*}*/

/*.menu__right-yes_auth:hover .menu__right-profile_arrow {*/
/*    transform: rotate(-180deg);*/
/*}*/

.menu__right-no_auth {
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    padding: 0px 18px;
    background: #2F64C2;
    border-radius: 15px;
    gap: 10px;
}
.menuText {
    text-decoration: none;
    color: #DBDBDB;
    font-family: MontserratBold, sans-serif;
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s ease;
}

.menu__left .menuText:hover {
    color: #2F64C2;
}

.menu__right-no_auth:hover {
    background: #DBDBDB;
    color: #2F64C2;
}
.menu__right-no_auth:hover .menuText {
    color: #2F64C2;
}
.menu__right-no_auth:hover svg path {
    stroke: #2F64C2;
}

.modal-profile {
    display: none;
    position: absolute;
    right: 0;
    top: 100px;
    width: 286px;
    height: 175px;
    z-index: 999;
}

.active {
    display: flex;
}

.modal-profile__title {
    /*cursor: pointer;*/
    background: #1A1A1F;
    width: 100%;
    height: 55px;
    border-radius: 15px 15px 0 0;
    line-height: 16px;
}

.modal-profile__title_user {
    cursor: pointer;
    display: flex;
    padding: 5px 0 0 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

.modal-profile__title_user svg {
    width: 40px;
    height: 40px;
}

.modal-profile__title_user img {
    border-radius: 15px;
}

.modal-profile__title_profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.modal-profile__title_profile p {
    color: #DBDBDB;
    font-size: 14px;
    font-family: Montserrat-Medium, sans-serif;
}

.modal-profile__title_profile a {
    text-decoration: none;
    color: #88A9E4;
    font-size: 13px;
    font-family: Montserrat-Medium, sans-serif;
    transition: all .3s ease;
}

.modal-profile__title_user:hover a {
    color: #2F64C2;
}

.modal-profile__main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #17171D;
    width: 100%;
    /*height: 120px;*/
    border-radius: 0 0 15px 15px;
    padding: 20px 15px 19px 15px;
    gap: 12px;
}

.modal-profile__main hr {
    width: 100%;
    border: none;
    height: 2px;
    border-radius: 5px;
    background: #1f1f25;
    margin: 0;
}

.modal-text-style {
    display: flex;
    text-decoration: none;
    color: #DBDBDB;
    gap: 6px;
    align-items: center;
    font-family: MontserratBold, sans-serif;
    font-size: 15px;
    transition: all .3s ease;
}

.modal-text-style svg path {
    transition: all .3s ease;
}

.modal-text-style:hover svg path {
    stroke: #2F64C2;
}

.modal-text-style:hover {
    color: #2F64C2;
}


@media (max-width: 1199px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /*.menu__left a {*/
    /*    padding-top: 10px;*/
    /*}*/
    .menu__right-block a {
        padding-top: 9px;
    }
}

@media (max-width: 565px) {
    .menu__right-no_auth p {
        display: none;
    }
}