@import 'normalize.css';
@import 'reset.css';
@import 'fonts.css';
* {
    box-sizing: border-box;
}

html {
    background: #0C0C0F;
}

.container {
    position: relative;
    max-width: min(1540px, calc(100vw - 200px));
    margin: 0 auto;
    transition: all .3s ease;
}

.mainStyleText {
    color: #DBDBDB;
    font-family: Montserrat-Medium, sans-serif;
}